snippet devcon_on_create_command "DevConatienrCLI用にsocatをインストール"
"onCreateCommand": "sudo apt update && sudo apt install -y socat",
endsnippet

snippet devcon_ini_command "DevConatienrCLI用にPortForwardを開始"
"initializeCommand": "python3 $HOME/dotfiles/devcontainer/devcontainer-cli-port-forwarder/forwarder.py &"
endsnippet
