snippet schedule "Create schedule table"
# Diary for 2023-

## Curent DOING tasks | status.not:Completed and (+ACTIVE or +DOING)

## Plan

### Must

### Want

## Do

| expected | actual | action | review |
|----------|--------|--------|--------|

## Memo
endsnippet
