snippet schedule "Create schedule table"
# Diary for 2023-

## TODO | status.not:Completed and (+DUE or +OVERDUE or +ACTIVE)

## Plan

## Do

| expected | actual | action | review |
|----------|--------|--------|--------|

## Keep

## Problem

## Try

## Memo
endsnippet
