snippet schedule "Create schedule table"
# Diary for 2023-${1}-${2}

## Curent DOING tasks | status.not:Completed and (+ACTIVE or +DOING)

## MTG

## ad hoc tasks

| expected | actual | action | review |
|----------|--------|--------|--------|

## Memo
endsnippet
