### Python ###
[[plugins]]
repo = 'lambdalisue/vim-pyenv'
on_ft = ['rust', 'python']
hook_add = '''
    " TODO: rustup component add rustfmt
    " let g:rustfmt_autosave = 1
    syntax enable
    filetype plugin indent on
'''

### Rust ###
[[plugins]]
repo = "rust-lang/rust.vim"
on_ft = ["rust"]
hook_add = '''
    let g:rustfmt_autosave = 1
'''

### Jupyter ###
[[plugins]]
repo = "goerz/jupytext.vim"
on_ft = ["python", "ipynb"]
hook_add = '''
    " セルの区切り文字をVSCode互換の # %% に指定する
    let g:jupytext_fmt = 'py:percent'
    " vimのPython向けシンタックスハイライトを有効にする
    let g:jupytext_filetype_map = {'py': 'python'}
'''

[[plugins]]
repo = "jupyter-vim/jupyter-vim"
on_ft = ["python", "ipynb"]
hook_add = '''
    "" Run current file
    "nnoremap <buffer> <silent> <localleader>R :JupyterRunFile<CR>
    "nnoremap <buffer> <silent> <localleader>I :PythonImportThisFile<CR>
    "" Change to directory of current file
    "nnoremap <buffer> <silent> <localleader>d :JupyterCd %:p:h<CR>
    "" Send a selection of lines
    "nnoremap <buffer> <silent> <localleader>X :JupyterSendCell<CR>
    "nnoremap <buffer> <silent> <localleader>E :JupyterSendRange<CR>
    "nmap     <buffer> <silent> <localleader>e <Plug>JupyterRunTextObj
    "vmap     <buffer> <silent> <localleader>e <Plug>JupyterRunVisual
    "" Debugging maps
    "nnoremap <buffer> <silent> <localleader>b :PythonSetBreak<CR>
'''

### SQL ###
[[plugins]]
repo = 'kristijanhusak/vim-dadbod-ui'
on_ft = ["sql"]

[[plugins]]
repo = 'kristijanhusak/vim-dadbod'
on_ft = ["sql"]
depends = ['vim-dadbod-ui']
hook_add = '''
    " specify db connections in .env using the following prefix
    let g:db_ui_dotenv_variable_prefix = 'DB_UI_'
'''

[[plugins]]
repo = 'vim-scripts/dbext.vim'

### Debugger ###
[[plugins]]
repo = "puremourning/vimspector"
on_ft = ["python", "rust"]
# build = "./install_gadget.py --enable-python --enable-rust"
build = "./install_gadget.py --basedir $HOME/.dotfiles/vimspector-config --enable-python --enable-rust"
hook_add = '''
    let g:vimspector_enable_mappings = 'HUMAN'
    " let g:vimspector_base_dir = expand('$HOME/.dotfiles/vimspector-config')
    " for normal mode - the word under the cursor
    nmap <Space>di :VimspectorBalloonEval<CR>
    " for visual mode, the visually selected text
    xmap <Space>di :VimspectorBalloonEval<CR>
    " debugger command
    nnoremap <silent> <Space>db :call vimspector#Launch()<CR>
'''
