.git
.github
GPATH
GRTAGS
GTAGS
.vim/sessions/
.vim/plugins/
.env
.secrets
.zprezto
tmux/colors
tmux/plugins
tmux/tmux.user.conf
.globalrc
.vim/.netrwhist
.fzf
vimspector-config
.zplug
.python-version
iceberg.vim/
node_modules/
.zshrc.local
neovim
