.env*
!.env.example*
.secrets
.zprezto
.fzf
vimspector-config
.zplug
tmux/
!tmux/tmux.common.conf
node_modules/
.zshrc.local
devcontainer/
build/
config/
!config/*.example*
*.bak
.venv/
.aider*
*.md
!README.md
