GPATH
GRTAGS
GTAGS
.vim/
.env
.secrets
.zprezto
.globalrc
.fzf
vimspector-config
.zplug
.python-version
tmux/
iceberg.vim/
node_modules/
.zshrc.local*
neovim/
devcontainer/
build/
config/lite-llm-config.yaml
config/vim-ai-roles.ini
*.bak
