alias:
  - "a-gpt4o:azure/gpt-4o"
  - "o-gpt4o:openai/gpt-4o"
  - "o-gpt4.1:openai/gpt-4.1"
  - "c-claude3.5:anthropic/claude-3-5-sonnet-latest"
  - "c-claude3.7:anthropic/claude-3-7-sonnet-latest"
  - "v-claude3.5:vertex_ai/claude-3-5-sonnet-v2@20241022"
  - "v-claude3.7:vertex_ai/claude-3-7-sonnet@20250219"
  - "v-claude4:vertex_ai/claude-sonnet-4@20250514"
  - "v-gemini2.0:vertex_ai/gemini-2.0-flash-001"
  # - "v-gemini2.5-prev:vertex_ai/gemini-2.5-flash-preview-05-20"
model: "v-gemini2.0"
dark-mode: true
watch-files: true
analytics-disable: true
show-release-notes: false
voice-language: ja
chat-language: ja
# architect: true
# mcp-servers-file: "$HOME/dotfiles/config/mcp.json"
