model_list:
  - model_name: claude3-5-sonnet
    litellm_params:
      model: claude-3-5-sonnet-20240620
      api_key: "os.environ/ANTHROPIC_API_KEY"
  - model_name: gemini
    litellm_params:
      model: gemini/gemini-pro
      api_key: "os.environ/GEMINI_API_KEY"
  - model_name: azure
    litellm_params:
      model: azure/gpt-4
      api_base: "os.environ/AZURE_API_BASE"
      api_version: "os.environ/AZURE_API_VERSION"
      api_key: "os.environ/AZURE_API_KEY"
