autopep8
black
dbt-bigquery
debugpy
flake8
flake8-import-order
google-generativeai
isort
jedi
jupyter
jupytext
litellm[proxy]
mypy
poetry
pylint
pynvim
pysen
pytest
qtconsole
sqlfluff
sqlfluff-templater-dbt
tasklib
wheel
